{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block top_navi %} {% endblock %}

{% block main_cointainer %}

<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
  <h1 class="display-4">Sign In</h1>
  <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <p class="lead"> Please enter your credentials:</p>
        
        <label for="user_login">Username</label>
        
        <div class="form-group">
          {{ form.user_login(class_="form-control col-sm-3") }}
          
          <small id="passwordHelpInline" class="text-muted col-sm-3">{% for error in form.user_login.errors %}<span style="color: red;">{{ error }}</span>{% endfor %}</small>
        </div>
        
        <label for="user_password">Password</label>
        
        <div class="form-group">
          {{ form.user_password(class_="form-control col-sm-3") }}

          <small id="passwordHelpInline" class="text-muted col-sm-3">{% for error in form.user_password.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}</small>
        </div>
        
        <input class="btn btn-outline-primary" type="submit" value="Sign In">
  </form>
</main>

{% endblock %}

